<html xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers"
      xmlns:be="http://typo3.org/ns/TYPO3/CMS/Backend/ViewHelpers"
      xmlns:core="http://typo3.org/ns/TYPO3/CMS/Core/ViewHelpers"
      data-namespace-typo3-fluid="true">

<f:layout name="Module" />

<f:section name="Content">
    <div>
        <f:if condition="{skill}">
            <f:then>
                <h1>
                    <core:icon identifier="module-nrllm-skill" size="medium" />
                    {skill.name}
                </h1>
                <dl class="row">
                    <dt class="col-sm-3">Identifier</dt>
                    <dd class="col-sm-9"><code>{skill.identifier}</code></dd>
                    <dt class="col-sm-3">Source commit SHA</dt>
                    <dd class="col-sm-9"><code>{skill.sourceSha}</code></dd>
                    <dt class="col-sm-3">Body checksum</dt>
                    <dd class="col-sm-9"><code>{skill.bodyChecksum}</code></dd>
                    <dt class="col-sm-3">Support status</dt>
                    <dd class="col-sm-9">{skill.supportStatus.value}</dd>
                    <f:if condition="{skill.unsupportedNotes}">
                        <dt class="col-sm-3">Unsupported notes</dt>
                        <dd class="col-sm-9">{skill.unsupportedNotes}</dd>
                    </f:if>
                </dl>
                <h2>Body</h2>
                <pre class="bg-body-tertiary p-3 rounded"><f:format.htmlentities>{skill.body}</f:format.htmlentities></pre>
            </f:then>
            <f:else>
                <f:be.infobox title="Skill not found" state="-1">
                    <p>The requested skill could not be found.</p>
                </f:be.infobox>
            </f:else>
        </f:if>
    </div>
</f:section>

</html>
