name: CI
on:
  push:
  pull_request:
permissions: {}
jobs:
  ci:
    uses: netresearch/typo3-ci-workflows/.github/workflows/ci.yml@main
    permissions:
      contents: read
    with:
      php-versions: '["8.5"]'
      typo3-versions: '["^14.0"]'
      cgl-command: composer lint
      phpstan-command: composer phpstan -- --error-format=github
      rector-command: composer rector:dry
      unit-test-command: composer test:unit
